<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>详细信息</title>
    <link rel="stylesheet" href="/layui/css/layui.css" type="text/css">
    <script type="text/javascript" src="/js/jquery-3.4.1.js"></script>

    <script type="text/javascript" src="/layui/layui.js"></script>
    <link rel="stylesheet" href="../src/css/layui.css">
</head>
<body class="layui-layout-body">
<div id="list" class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">汽车信息管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->

        <ul class="layui-nav layui-layout-right">

            <li class="layui-nav-item"><span id="userNameSpan" th:text="${userName}" hidden></span><a href="/carManage/login">注销</a></li>
        </ul>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <!--<button onclick="showAddDialog()" class="layui-btn layui-btn-normal">添加</button>-->
            <button onclick="deleteSelection()" class="layui-btn layui-btn-primary ">删除选中</button>

            <table id="tb" class="table table-striped table-sm" lay-filter="tb" ></table>

        </div>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">汽车管理</a>
                    <dl class="layui-nav-child">
                        <dd><a th:href="@{'/carManage/index?userName='+${userName}}">查看汽车信息</a></dd>
                        <dd onclick="showAddDialog()"><a>添加汽车</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">个人信息</a>
                    <dl class="layui-nav-child">
                        <dd> <a th:href="@{'/carManage/userDetail?userName='+${userName}}">基本资料</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-footer">
    <!-- 底部固定区域 -->
    © 2020 方泽宁 软工1702 8002117077
    </div>

</div>
    <label >品牌</label><span th:text="${car.getBrand()}"></span><br/>
    <label>颜色</label><span th:text="${car.getColor()}"></span><br/>
    <label>座位数</label><span th:text="${car.getSites()}"></span><br/>
    <label>日租金(元)</label><span th:text="${car.getDailyRent()}"></span><br/>
    <label>百公里耗油(升/百公里)</label><span th:text="${car.getFuelConsumption()}"></span><br/>
    <label>添加人</label><span th:text="${car.getAddPerson()}"></span><br/>
<div class="layui-body">
    <div style="padding: 15px;">
        <table class="layui-table">
            <tbody>
            <tr>
                <td>
                    <label>品牌</label>
                </td>
                <td>
                    <span th:text="${car.getBrand()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>颜色</label>
                </td>
                <td>
                    <span th:text="${car.getColor()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>座位数</label>
                </td>
                <td>
                    <span th:text="${car.getSites()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>日租金（元）</label>
                </td>
                <td>
                    <span th:text="${car.getDailyRent()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>百公里耗油（升/百公里）</label>
                </td>
                <td>
                    <span th:text="${car.getFuelConsumption()}"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label>添加人</label>
                </td>
                <td>
                    <span th:text="${car.getAddPerson()}"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>

</html>